a:-webkit-any-link  {
    text-decoration: none !important;
}

fieldset {
    border: 0;
    line-height: 4;
    margin: 0;
    padding: 0 16px
}

header, .background-default {
    background: linear-gradient(45deg, #18252d 30%, #0a1014 90%) !important;
}

.color-white {
    color: #fff !important;
}

.color-orange {
    color: #ff6e40 !important;
}

.color-black {
    color: #000 !important;
}

.height-fill-available {
    height: calc(100vh - 64px);
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-top-64 {
    padding-top: 64px;
}

.padding-top-128 {
    padding-top: 128px;
}

.pre-wrap {
    white-space: pre-wrap;
}

.progress {
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 2001;
    width: 100%;
}

.square {
    border-radius: 0 !important;
    height: 64px !important;
    width: 64px !important;
}

.text-align-center {
    text-align: center;
}

#back {
    margin-left: -12px;
    margin-right: 12px;
}

#bottom-navigation {
    bottom: 0;
    position: fixed;
    width: 100%
}

#dialog-tags,
#dialog-edit,
#dialog-filters,
#dialog-users,
#dialog-tags div:first-child,
#dialog-edit > div:first-child,
#dialog-users > div:first-child,
#dialog-filters div:first-child {
    top: 64px
}

#welcome > header,
#sign-in > header {
    background: linear-gradient(90deg, #18252d 30%, #0a1014 90%)
}

#block {
    text-align: center;
    min-height: 100%
}

#login-form {
    padding: 0 16px;
    text-align: center
}

#logo {
    max-height: 250px;
    max-width: 250px;
    width: 60%
}

#nav-empty {
    display: none
}

#nav-comments, #nav-activities, #nav-profile {
    color: #fff
}

#new-message p {
    text-align: right
}

#sign-in {
    padding: 126px 16px 0
}

#page {
    padding: 72px 16px 0
}

#progress {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1200
}

#search,
#shared,
#settings {
    margin-left: auto
}

#toolbar {
    min-height: 64px
}

.mb-8 {
    margin-bottom: 16px !important
}

.transparent {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%) !important;
    box-shadow: none !important
}

.w-80 {
    width: 80%;
}

p.comment {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

#header-radial-gradient, .header-radial-gradient {
    animation: GradientRotation 12s steps(120) infinite;
    background: radial-gradient(ellipse at 70% 70%, #16242d 8%, #2e4857 42%, #5a8ba9 58%);
    position: absolute;
    margin-left: -25%;
    margin-top: -75%;
    min-height: 150%;
    min-width: 150%;
    padding-bottom: 75%;
    padding-top: 75%;
}

#events header {
    overflow: hidden;
}


@-webkit-keyframes GradientRotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/**/

.avatar {
    height: 100% !important;
    max-width: none !important;
    width: auto !important;
}

.dialog {
    padding-top: 128px;
}

.search input, .search input::placeholder {
    color: #000;
}

.hover-underline:hover {
    text-decoration: underline;
}